
    /* @group ----- Form elements ----- */

    input,
    input[type="text"],
    textarea,
    button,
    .button,
    select {
        margin: 0;
        height: auto;
    }

    form .field {
        flex-wrap: wrap;
    }

    form .field .field-meta,
    form .field > label,
    form .field > .label,
    form .field > .inputs {
        width: 100%;
    }

    /* @end */

/* @end */

/* @group ----- Containers ----- */

#content {
    padding: $spacing-l $spacing-l 0;
}

/* @end */

/* @group ----- Header ----- */

header {
    padding: $spacing-m $spacing-l;
}

header h1 {
    margin-bottom: 0;
}

#top-nav > ul {
    display: none;
    overflow: scroll;
    padding-bottom: 4 * $spacing-l;
}

#top-nav.open > ul {
    display: block;
}

#top-nav > ul > li {
    width: 100%;
}

header button {
    height: 1.5 * $spacing-l;
    font-size: $base-font-size;
}

.sub-menu {
    margin: (-1 * $spacing-l) (-1 * $spacing-l) $spacing-l;
    padding: $spacing-l;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    padding: 0 $spacing-l $spacing-l;
    clear: both;
}

/* @end */

/* @group ----- Home ----- */

div#featured {
    font-weight: normal;
}

#featured .record {
    min-height: 0;
    width: 100% !important;
}

#featured .featured-meta {
    padding: 0;
    max-width: 100%;
}

/* @end */

/* @group ----- Browse ----- */

@container (width < 480px) {
    .resource-list .resource {
        width: 100%;
    }
}

.browse-controls {
    flex-direction: row;
}

.advanced-search {
    margin-bottom: $spacing-m;
}

.pagination {
    margin: $spacing-m 0;
    padding: 0;
}

/* @end */

/* @group ----- Show ----- */

.property {
    display: block;
}

.property h4,
.property dt,
.property dd,
.property .values,
.item-with-metadata .media-list {
    width: 100%;
    text-align: left;
}

#linked-resources > h4 {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#linked-filter,
.linked-header .pagination {
    width: 100%;
}

#linked-filter h4 {
    margin: 0 $spacing-s 0 0;
}

#linked-resources .linked-resource {
    width: 100%;
}

#linked-resources tr > td:first-child {
    background-color: #000;
    color: #fff;
}

#linked-resources td {
    border-bottom: 1px solid #000;
}

#linked-resources .resource-link {
    padding: 0 $spacing-s;
}

/* @end */

/* @group ----- Pages ----- */

.file {
    max-width: 100%;
}

.left.file {
    margin-right: 0;
}

.right.file {
    margin-left: 0;
}

/* @end */

/* @group ----- Search ----- */

.results > ul {
  display: block;
  
  & > li {
    width: auto;
  }
}

.sitewide-search-form ~ h2,
.sitewide-search-form ~ .pagination {
  float: none;
  text-align: left;
  width: 100%;
}

.sitewide-search-form ~ .pagination {
  margin: (-1 * $spacing-m) 0 (1.5 * $spacing-l);
}

.index.search .results ul {
  columns: 1;
}

/* @end */